.introduction {
  display: flex;
  padding: 2em 0em 3em 0em;
  justify-content: space-evenly;
  background-image: url(./img/Ellipse-5.svg);
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
}

#img-example-bike {
  width: 100%;
  height: auto;
  position: relative;
  bottom: -2em;
}

#btn-show-all {
  width: 278px;
  height: 48px;
  position: relative;
  right: 2em;
}
.link-bikes {
  width: 262px;
  height: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
}

.bikes-introduction {
  padding: 3rem;
  justify-self: stretch;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  position: relative;
  right: 1em;
}

h2 {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0em;
  align-items: center;
  grid-template-rows: auto repeat(2, 20rem) auto;
  gap: 7rem;
  align-items: center;
  position: relative;
}
.bike-section {
  margin-top: 2.5em;
  display: flex;
  justify-content: space-evenly;
}

.bike-container {
  border: groove;
  width: 16rem;
  padding: 20px;
  box-shadow: 5px 8px 15px;
  text-align: left;
}
.bike-type-img {
  width: 15rem;
}

.btn-select-type {
  color: #1f5952;
  width: 7rem;
  height: 2rem;
  border-radius: 50px;
  border-color: #1f5952;
  background-color: white;
}

.App {
  width: 100%;
  background-color: white;
  font-family: "Cormorant Garamond";
}
.paragraph {
  padding: 2rem;
  margin-left: 0rem;
  margin-bottom: 2rem;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0.5rem;
}
.btn-nav {
  background-color: white;
  border: none;
}

.logo {
  position: inherit;
  left: 48%;
}
.example-bike {
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: 6rem;
}

.choice-btns {
  display: flex;
  justify-content: space-between;

  padding-top: 4rem;
  padding-bottom: 2rem;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

/* .bike-filter {
  
} */
.btn-select-color {
  height: fit-content;
  width: fit-content;
  border-radius: 50px;
  border: none;
  margin-right: 2rem;
  background: none;
}

.color {
  width: 2rem;
  height: 2rem;
}
.filter-label {
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
}
p {
  width: 22rem;
  margin: 20px;
}
.homePage {
  margin-top: 2rem;
}
